<div class="footer">
  <div class="footer-links">
    <li class="footer_item">
      <%= link_to user_playlists_path(current_user), class: "nav-link" do %>
        <i class="fa-solid fa-house" style="color: #000000;"></i>
      <% end %>
    </li>
    <li class="footer_item">
      <%= link_to songs_path, class: "nav-link" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
      <% end %>
    </li>
    <li class="footer_item">
      <%= link_to new_playlist_path(current_user), class: "nav-link" do %>
        <i class="fa-solid fa-map" style="color: #000000;"></i>
      <% end %>
    </li>
    <li class="footer_item">
      <%= link_to new_playlist_path(current_user), class: "nav-link" do %>
        <i class="fa-solid fa-user" style="color: #000000;"></i>
      <% end %>
    </li>
  </div>
</div>
