<div class="sub-navbar">
  <div class="sub-navbar-item">
    <i class="fa-solid fa-skull"></i>
    <%= avg_song_difficulty %>
  </div>
  <div class="sub-navbar-item">
    <i class="fa-solid fa-fire"></i>
    <%= avg_hype_number %>
  </div>
  <div class="sub-navbar-item">
    <i class="fa-solid fa-microphone-lines"></i>
    <%= number_times_sang %>
  </div>
</div>
