  <%= link_to user_homepage_index_path(current_user) do%>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="game-page">
  <div class="game-page-container">
    <%= render "songs/songs_random" %>
    <%= link_to random_song_path(current_user), class: "" do %>
      <button class="button-5" role="button">Try Again?</button>
    <% end %>
  </div>
</div>
