<body class="landing-page">
  <div class="landing-container">
    <div class="landing-title">
      <h1>Welcome to SongFlow</h1>
      <h2>Craft personalized karaoke lists with your favorite hits. Your stage, your playlist – let the singing adventure begin!</h2>
      <%= link_to user_path(current_user) do %>
        <button type="button" class="btn btn-primary btn-primary-landing">Sign In</button>
      <% end %>
    </div>
  </div>
</body>
