<%# <div class="card"> %>
<%# <img src="pic.jpeg" class="card-img" alt="..."> %>
<%# <div class="card-img-overlay">
    <h1>Welcome to SingNic</h1>
    <p>Your Destination for Singing Fun!</p>
  </header> %>
<!-- Main Content Section -->
<%# <section>
    <div>
      <h2>Unleash Your Inner Star</h2>
      <p>Transform any moment into a stage with SingNic. Sing your heart out to your favorite tunes and create unforgettable memories with friends and family.</p>
    </div>
    <div>
      <h2>Features:</h2>
      <ul>
        <li><strong>Extensive Song Library:</strong> Explore a vast collection of songs spanning genres and eras.</li>
        <li><strong>Easy-to-Use Interface:</strong> Our user-friendly interface makes singing along a breeze for all skill levels.</li>
        <li><strong>Customizable Karaoke Experience:</strong> Personalize your karaoke session with various settings and options.</li>
      </ul>
    </div>
    <div>
      <h2>How It Works:</h2>
      <ol>
        <li>Sign up for a free account.</li>
        <li>Browse our extensive song library.</li>
        <li>Select your favorite song and add to a playlist!</li>
      </ol>
    </div> %>
<button type="button" class="btn btn-primary">Sign In</button>
<button type="button" class="btn btn-primary">Create an Account</button>
