<div class="landing-page-body">
  <div class="landing-title">
    <%= link_to  new_user_session_path do %>
      <button type="button" class="btn btn-primary btn-primary-landing">Sign In</button>
    <% end %>
  </div>
  <body class="landing-page">
    <div class="starwars-demo">
      <%= image_tag("logo.png", class: "star") %>
      <h2 class="byline" id="byline">SongFlow</h2>
    </div>
  </body>
</div>
