.alert {
  position: fixed;
  bottom: 80px;
  right: 8px;
  border-style: none;
  background: rgba(93, 94, 96, 0.9);
  color: white;
  font-weight: bold;
  z-index: 1000;
  border-radius: 8px;
}

.btn-close {
  color: white;
  font-weight: bold;
}
