.footer {
  background: #FF6C22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.3);
  justify-content: space-between;
}
.footer_item {
  padding-top: 20px;
  list-style: none;
  font-size: 30px;
}

.nav-link{
  text-align: center;
}

.footer_item p {
  font-size: 10px;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
}
