.footer {
  background: rgba(255, 146, 53, 0.97);
  display: flex;
  height: 88px;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px 24px 0px 0px;
}


.footer_item {
  padding-top: 10px;
  list-style: none;
  font-size: 30px;
  color: white;
  flex-basis: 25%;
}

.nav-link{
  text-align: center;
}

.footer_item p {
  font-size: 10px;
}

.icon-grey {
  color: #303338;
}





html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
}
