.header {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: space-between;
  align-items: baseline;
  margin: 24px 0px 16px 0px;
}

.header h1 {
  font-size: 32px;
}

.fa-solid-plus-icon {
  font-size: 32px;
}
