.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.bar-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 24px 0px;
  justify-content: space-between;
  width: 93%;
}

.fa-music {
  color: #FF9235;
  font-size: 32px;
  padding-right: 8px;
}
.logo-title {
  color: white;
  font-size: 24px;
}

.homepage-song-conatiner {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  overflow: scroll;
  padding-bottom: 16px;
}

.homepage-song-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 136px;
}

.homepage-song-img {
  width: 120px;
  height: 120px;
  border-radius: 24px;
}

.homepage-song-title-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 4px;
}

.homepage-song-title {
  color: white;
  font-size: 18px;
  overflow: hidden;
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepage-song-artist {
  color: grey;
  font-size: 16px;
  overflow: hidden;
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepage-suggested-box {
  margin-bottom: 20px;
}

.logo-body {
  display: flex;
  justify-content: center;
}

.logo-size {
  height: 48px;
  width: 48px;
  margin-right: 4px;
}


.game-title {
  font-size: 24px;
  color: #FF9235;
  animation: game-title 1.5s ease-in-out infinite alternate;
}

@keyframes game-title {
  0%,
  100% {
    text-shadow: 0 0 3px #FF9235, 0 0 0px #FF9235, 0 0 3px #FF9235;
  }
  50% {
    text-shadow: 0 0 6px white, 0 0 0px white, 0 0 6px white;
    color: white;
  }

}
