.logo-for-background {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-container {
  margin-top: 336px;
  padding: 24px 24px;
  display: flex;
  color: white;
}

.btn-primary-landing {
  margin-top: 16px;
  background-color: rgba(120, 120, 120, 0.3);
  border-style: none;
  margin-bottom: 20px;
  margin-right: 16px;
  border-radius: 8px;
  font-size: 20px;
}

.landing-title {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.landing-title h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.landing-title h2 {
  font-size: 16px;
  margin-bottom: 24px;
}

.landing-page-body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 152px;
  margin-left: 9px;
}
