#map{
height: 100vh;
position: relative;

  .map-input{
    position: absolute;
    z-index: 1;
    bottom: 30px;
  }
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
