.playlist-btn {
  font-size: 20px;
  color: #181A20;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  margin-bottom: 16px;
}

.playlist-btn-item {
  width: 186px;
  height: 48px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0px 16px;
  padding-top: 11px;
  border-radius: 50px;
  margin: 0px 8px;
  background-color: #FF9235;
}

.playlist-btn-item p {
  padding-left: 8px;
  font-size: 18px;
  color: #181A20;
}

.card-img-top {
  margin-top: 8px;
  height: 320px;
  width: 320px;
  margin-bottom: 24px;
}

h5 {
  color: white;
  font-size: 24px;
  margin: 8px;
}

.card-body {
  padding-top: 24px;
  padding-bottom: 8px;
}

.fa-arrow-left {
  color: white;
  font-size: 24px;
  padding-top: 24px;
  padding-left: 24px
}

.card-product .card-product-infos h3 {
  font-size: 16px;
  font-weight: bold;
}

.bookmark-container {
  display: flex;
  flex-direction: column;
  margin: 4px 16px;
  background-color: #181A20;
  padding-bottom: 8px;
  border-top-style: groove;
  padding-top: 20px;
  margin-top: 12px;
}

.bookmark-container h1 {
  font-size: 24px;
  color: white;
  padding-bottom: 16px;
}

.bookmark-title {
  width: 240px;
  color: white
}

.bookmark-img {
  width: 100px;
  height: 100px;
  border-radius: 24px;
}


.bookmark-row {
  display: flex;
  margin-bottom: 12px;
  background-color: #181A20;
  align-items: center;
  justify-content: center;
}

.bookmark-row h3 {
  padding-left: 16px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookmark-artist {
  padding-left: 16px;
  color: grey;
}

.fa-xmark {
  padding-right: 16px;
}


.playlist-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-container {
  background-color: #1a1515;
  display: flex;
  justify-content: center;
  margin: 0px 24px;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding-bottom: 24px;
}

.create-container h3 {
  font-size: 32px;
  color: white;
  margin-bottom: 120px;
}

.form-label {
  color: black;
  margin-left: 2px;
  font-size: 24px;
}

.search-input {
  color: white;
}

.fa-solid-user-icon {
  font-size: 32px;
  padding-left: 56px;
}

.fa-circle-plus {
  font-size: 88px;
  padding-right: 24px;
}

.add-list-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  border-top-style: groove;
  border-color: aliceblue;
  padding: 16px 0px;
  margin-top: 8px;
}

.add-list-btn-title {
  color: white;
  font-size: 20px;
}

.my-playlist-container {
  padding: 0 24px;
}

.playlist-count {
  color: white;
  font-size: 20px;
}

.song-count {
  color: grey;
  font-size: 16px;
}

.song-title-card {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.song-container {
  width: 360px;
}

.playlist-card-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playlist-btn-edit {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
}

.playlist-btn-delete {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
}

.add-to-playlist-btn {
  display: flex;
  align-items: center;
}

.fa-ellipsis-vertical {
  color: white;
  padding-left: 14px;
}

.mb-3 .playlist_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formplaylist {
  background: rgba(255, 146, 53, 0.97);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.form-control {
  width: 100%;
  height: 37px;
  background: rgba(24, 26, 32, 0.5);
  border-style: none;
}

.modal-content {
  border-radius: 24px;
}

.sub-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
}

.sub-navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.playlist-bookmark-container {
  display: flex;
  flex-direction: column;
}

.dropdown-toggle::after {
  color: #181A20;
}

.sub-navbar-item .fa-solid {
  padding-right: 8px;
}

.sub-navbar-item .fa-skull {
  color:purple;
}

.sub-navbar-item .fa-fire {
  color: red;
}

.sub-navbar-item .fa-microphone-lines {
  color: silver;
}


.dropdown-menu {
  background-color: #FF9235;
  border-radius: 16px;
  color: #181A20;
  font-weight: bold;
  padding-left: 8px;
}

.add-sesh-item {
  font-weight: bold;
}

.modal-body {
  background-color: #FF9235;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
