.button-5 {
  margin: 60px 0px;
  background-color: white;
  color: black;
  font-size: 44px;
  border-style: none;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: bold;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


// buttons in the modal.
.button-27 {
  appearance: none;
  background-color: #181A20;
  border: 2px solid #181A20;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: center;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.modal-header{
  color: #000000;
}



// .modal {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.modal-title {
  color: black;
}

.button-27-title {
  font-size: 24px;
}

.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
}

.game-page-add-btn {
  display: flex;
  flex-direction: row;
  color: white;
}

.game-page-add-btn p {
  font-size: 24px;
}


.game-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin-top: 60px;
}

.game-page-body {
  height: 100%;
  background-color: #FF9235;
}

.fa-solid-game-page-title {
  font-size: 30px;
  background-color: #FF9235;
  padding: 8px 16px;
  z-index: 1;
}

.fa-circle-play-game-page {
  font-size: 48px;
  color: #303338;
}

.game-page-song-create_btn {
  width: 200px;
  height: 48px;
  display: flex;
  font-size: 22px;
  align-items: baseline;
  justify-content: center;
  border-style: none;
  padding: 0px 16px;
  padding-top: 7px;
  border-radius: 50px;
  margin: 0px 24px 0px 0px;
  background-color: #303338;
  color: #FF9235;
}

.game-page-song-image {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.song-page-movable-title {
  color:#303338;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
}

.song-page-movable-title-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom-style: groove;
  border-color: #303338;
  width: 94%;
  overflow: hidden;
}


.moving-animation {
  animation-delay: 3s;
  animation: slide 120s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateX(0);
  }
}

.game-page-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.game-page-navbar-item {
  width: 20%;
}

.game-page-navbar-logo {
  display: flex;
  justify-content: center;align-items: center;
  width: 20%;
}

.fa-arrow-left-game-page {
  color: #303338;
  font-size: 24px;
  padding-top: 0px;
}

.game-page-navbar-arrow {
  width: 20%;
}

.game-page-navbar-item p {
  color: #FF9235;
}

.game-page-navbar-title {
  font-size: 32px;
}
