.button-5 {
  margin: 40px;
  background-color: #FF9235;
  color: #181A20;
  font-size: 32px;
  border-style: none;
  border-radius: 56px;
  padding: 16px 56px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


// buttons in the modal.
.button-27 {
  appearance: none;
  background-color: #181A20;
  border: 2px solid #181A20;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: center;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.modal-header{
  color: #000000;
}



// .modal {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.modal-title {
  color: black;
}

.button-27-title {
  font-size: 24px;
}

.game-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-page-add-btn {
  display: flex;
  flex-direction: row;
  color: white;
}

.game-page-add-btn p {
  font-size: 24px;
}


.game-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin-top: 40px;
}
