.dropdown-menu{
  .add-sesh-item:hover {
    background-color: #060606;
    color: #721c24;
  }
}
// .form-sesh{

// }

.bar-number {
  font-size: 24px;
  margin-bottom: 20px;
}

.bar-number-one {
  padding-left: 7px;
}

.bar-number-five {
  padding-right: 2px;
}

#difficulty-sesh {
  margin-bottom: 0px !important;
}

#hype-sesh {
  margin-bottom: 0px !important;
}
