

.form-control {
  // margin-top: 32px;
  // margin-left: 20px;
  width: 90%;
  height: 48px;
  background: rgba(120, 120, 120, 0.3);
  border-style: none;
}



.card-product-infos-song-search h2 {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
  font-weight: 100;
  padding-left: 17px;
  color: black;
}


.song-image {
  width: 320px;
  height: 320px;
}

.song-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 24px 16px 24px;
  align-items: center;
}

.song-info-title-name {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 94%;
  align-items: center;
}

.song-info-title-name p {
  font-size: 22px;
  color: #dccccc;
  border-bottom: solid;
  border-color: #dccccc;
  padding-left: 10px;
  width: 320px;
}

.fa-solid-song-info {
  padding-right: 16px;
}

.song-create_btn {
  font-size: 24px;
  border-style: none;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  margin-top: 24px;
}

.song-search-bar {
  margin-left: 21px;
  margin-top: 32px;
}

.song-card-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  width: 332px;
}

.song-bookmark-title {
  display: flex;
  flex-direction: column;
  width: 265px;
  color: white;
  padding-left: 24px;
}

.search-song-title {
  font-size: 18px;
  font-weight: bold;
}

.search-song-artist-name {
  font-size: 16px;
}

.search-song-img {
  border-radius: 24px;
}

.search-song-title-container {
  display: flex;
  flex-direction: column;
}

.search-song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-circle-play-size {
  font-size: 24px;
  color: #FF9235;
  padding-left: 9px;
}

.play-btn {
  z-index: 1000;
}

.search-contianer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
