<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <% @playlists.each do |playlist| %>
      <div class="col-md-4">
        <% if playlist.photo.attached? %>
          <div class="image_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path playlist.photo.key, height: 100, crop: :fill %>')">
          <% else %>
            <p>No photo attached</p>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h1>playlist.name</h1>
      </div>
    <% end %>
  </div>
</div>
<% @playlists.each do |playlist| %>
  <% if playlist.photo.attached? %>
    <div class="image_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path playlist.photo.key, height: 100, crop: :fill %>')">
    <% else %>
      <p>No photo attached</p>
    <% end %>
  </div>
<% end %>
