<div class="container">
  <% @playlists.each do |playlist| %>
    <div class="card-product my-2">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
      <% if playlist.photo.attached? %>
        <%= cl_image_tag playlist.photo.key, height: 100, crop: :fill %>
      <% else %>
        <p>No photo attached</p>
      <% end %>
      <div class="card-product-infos">
        <h2><%= playlist.name %></h2>
      </div>
    </div>
  <% end %>
</div>
